//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Banners are to be used under the header and is a title of the page
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

/**
 * Basic banner block styling.
 */
.au-banner {
	font-family: MontserratBold;
	color: white;
  a {
    color: white;
    text-decoration: none;
  }
	background-color: $BUY-color-banner-background;
  margin-bottom: 3rem;

	@include AU-media( sm ) {
		@include AU-fontgrid( md );
	}

  @include AU-space( padding, 2unit 0 1unit 0);

  .banner-button {
    font-family: MontserratBold;
    text-align: center;
    margin-right: 1rem;
    width: 13rem;
    max-width: 37%;
    padding: 0.5rem;
    box-shadow: 5px 5px 5px gray;
    &:active {
      border-radius: 1rem;
    }
    border-radius: 1rem;
  }

  .au-breadcrumbs {
    margin-bottom: 2rem;
  }

  /**
   * Banner heading styles
   */
  .au-banner__title {
    @include AU-fontgrid( lg );
    margin: 0;
    padding: 0 0 1rem;
    border-bottom: 9px solid $BUY-color-callout-border;
    font-family: MontserratRegular;

    @include AU-media( sm ) {
      @include AU-fontgrid( xxl );
    }
    display: inline-block;
  }

  .au-banner__heading {
    padding: 0;
    margin: 1rem 0;
    @include AU-fontgrid( sm );
    font-family: MontserratBold;

    @include AU-media( sm ) {
      @include AU-fontgrid( lg );
    }
    display: inline-block;
  }

  .au-banner__subline {
    padding: 1rem 0 0.5rem;
    max-width: $AU-maxwidth;
    font-family: MontserratRegular;
    @include AU-fontgrid( xs );
    @include AU-media( sm ) {
      @include AU-fontgrid( sm );
    }
  }

	&.au-banner--light {
    color: $BUY-color-foreground-text;
    .au-banner__heading {
      color: $BUY-color-banner-background;
    }
		background-color: $BUY-color-banner-light-left;
    background-image: linear-gradient(to right, $BUY-color-banner-light-left, $BUY-color-banner-light-right);
    a {
      color: $BUY-color-foreground-text;
    }
    .au-banner__heading {
    }
	}

  &.editting {
    @include AU-media( sm ) {
      background-image: url("/ict/buy-nsw-style/images/editting-header.png");
      background-repeat: no-repeat;
      background-position: 90%;
      background-size: contain;
    }
  }
}
