//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// footer module
// Footers help users who reach the bottom of a page without finding what they want.
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

/**
 * Basic footer block styling.
 */
.au-footer {
	@include AU-fontgrid( sm );
	@include AU-space( padding, 3unit 0 3unit );
	@include AU-space( border-top, 0.25unit solid $AU-color-foreground-border );
	background-color: $AU-color-background;
	font-family: $AU-font;
	color: $AU-color-foreground-text;

	p:last-child {
		margin: 0;
	}

	&.au-footer--alt {
		background-color: $AU-color-background-alt;
	}

	&.au-footer--dark {
		color: $AU-colordark-foreground-text;
		border-color: $AU-colordark-foreground-border;
		background-color:  $AU-colordark-background;
	}

	&.au-footer--black {
		color: $AU-colordark-foreground-text;
		border-color: $AU-colordark-foreground-border;
		background-color: #313131;
		padding: 1rem 0 2rem;
	}

	&.au-footer--dark.au-footer--alt {
		background-color:  $AU-colordark-background-alt;
	}

	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}


/**
 * Footer `nav` navigation styling.
 */

.au-footer__end {
	//@include AU-space( padding-left, 1unit );
	@include AU-space( padding-top, 1unit );
	@include AU-space( margin-top, 1unit );
	border-top: 1px solid $AU-color-foreground-border;
}

.au-footer--dark .au-footer__end {
	border-top: 1px solid $AU-colordark-foreground-border;
}

// for any list divided into 2 columns; note - supported in IE10+
.cols-2 {
	column-count: 2;
	@include AU-space( column-gap, 2unit );
}

// a 'beta' icon for any link; note - placed on right
.beta {
	background-color: $BUY-color-warning-shade; //#ff7f2f
	border-radius: 999px;
	color: #fff;
	display: inline-block;
	@include AU-space( font-size, 0.75unit );
	font-weight: 500;
	@include AU-space( line-height, 0.8125unit );
	@include AU-space( margin, 0.3125unit );
	@include AU-space( padding, 0.1875unit 0.625unit );
	text-transform: uppercase;
}

// parent of svg icons with circular background
.icon-wrap {
	display: flex;
	align-items: center;
}
// a circular background for svg icons
.icon-circle {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-pack: center;

	border-radius: 999px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	@include AU-space( width, 2.125unit );
	@include AU-space( height, 2.125unit );
	background-color: #002664;
	@include AU-space( margin, 0 1unit 0 0 );
	svg > path {
		fill: white;
	}
}
