<div class="au-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-36">
        <div class="au-banner__text">
          <h3 class="au-display-xxl au-banner__heading">{{title}}</h3>
          <div class="au-display-sm au-banner__subline">{{subline}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-34">
        {{yield}}
      </div>
    </div>
  </div>
</div>
