<div class="au-jump-to">
  <a class="au-jump-to__trigger pointer" onclick={{action "onToggle"}}>
    On this page: <small>(click top open)</small>
  </a>
  {{#if isOpen}}
    <div class="au-jump-to__links">
      <nav class="au-inpage-nav-links au-inpage-nav-links--dark no-margin" aria-label="in page navigation">
        <ul class="au-link-list">
          {{#each sections as |item|}}
            {{#unless item.hide}}
              <li>
                {{scroll-to label=item.name onScroll=(action "onClose") target=(concat "#" item.anchor) tagName="a" duration=300 classNames="pointer"}}
              </li>
              <div class="clear-both"></div>
            {{/unless}}
          {{/each}}
        </ul>
      </nav>
    </div>
  {{/if}}
</div>
