{{#each field as |item index|}}
  <p>
    <span class="col-xs-1 col-md-1">
      <b>{{inc index}}.</b>
    </span>
    <div class="col-xs-32 col-md-34">
      {{dds/text-input
        signal=(mut signal)
        field=(mut (get field index))
        thin=thin
        noLabel=true
        wide=true
        apiError=(get apiError index)
        keepApiError=true
      }}
    </div>
    <div class="clear-both"></div>
  </p>
{{/each}}
<p>
  <div class="plus-circle">
    {{dds/tertiary-button
      onClick=(action "addRow")
      icon="plus-circle"
      label="Add row"
      theme=theme
      thin=thin
    }}
    {{#if (and (not disabled) (and (or showError hasChanged) invalid))}}
      {{dds/validation-error thin=thin type=(or errorType "error") message=errorMessage float=(or float "left")}}
    {{/if}}
  </div>
</p>
